#MAC DS files
.DS_Store

#Unity
Library
Temp
Media
*csproj
*pidb
*unityproj
*.sln
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
*.mp3
*.wav
*.ogg
*.png
*.gif
*.jpg
*.psd
*.ai
*.asset

#vim swap files
*.swp
